body{
background:#0a0614;
color:white;
font-family:Segoe UI;
margin:0;
}

.navbar{
background:#140a2b;
padding:15px;
display:flex;
gap:20px;
border-bottom:2px solid #9d4edd;
}

.navbar a{
color:#c77dff;
text-decoration:none;
font-weight:bold;
}

.card{
background:#140a2b;
border:1px solid #9d4edd;
box-shadow:0 0 15px #7b2cbf;
border-radius:10px;
padding:20px;
margin:15px;
}

button{
background:#7b2cbf;
color:white;
border:none;
padding:10px 15px;
border-radius:6px;
cursor:pointer;
}

input{
background:#0a0614;
border:1px solid #7b2cbf;
color:white;
padding:10px;
}
